<?xml version='1.0' encoding='utf-8'?>

<widget id="fr.inria.cesam" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>CESAM</name>
    <description>
        CESAM  application
    </description>
    <author href="https://project.inria.fr/humanlabinria/">
        HumanLab Inria team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-ble-central" spec="~1.3.1" />
    <platform name="android">
        <allow-intent href="market:*" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
        </config-file>
    </platform>
</widget>
